---
import { defaultBookVersion } from '../data/versions';

const target = `${import.meta.env.BASE_URL}en/${defaultBookVersion.slug}/`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <meta name="robots" content="noindex" />
    <title>Pop Book</title>
    <script is:inline define:vars={{ target }}>
      window.location.replace(target);
    </script>
  </head>
  <body>
    <p><a href={target}>Open Pop Book</a></p>
  </body>
</html>
